@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Celias;
  src: url('Celias_Regular-05087d5.fd505a6ce3cd05d48f85.woff2') format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Celiasmedium;
  src: url('Celias_Medium-98e5630.cec132e55dd536048d16.woff2') format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Celiasbold;
  src: url('Celias_Bold-47e0429.2802aaa013f1261a55c9.woff2') format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Celiaslight;
  src: url('Celias_Light-0b7a364.7af489aab4fa173274bd.woff2') format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --themecolor: #e96125;
  --themecolorsecond: #1fad1a;
  --themecolorHover: #c04f1f;
}
body {
  font-family: Celias;
}
* {
  outline: 0;
}
.related-prod-block button:focus {
  outline: 0px !important;
}
.related-prod-block .owl-carousel .owl-nav button.owl-next,
.related-prod-block .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
}
.related-prod-block .owl-prev {
  left: -4%;
}
.related-prod-block .owl-prev .fa-chevron-left {
  padding: 14px 5px;
  border: 1px solid #938a8a;
  border-radius: 17px;
  font-size: 12px;
  width: 35px;
  height: 40px;
}
.related-prod-block .owl-next {
  right: -4%;
}
.related-prod-block .owl-next .fa-chevron-right {
  padding: 14px 5px;
  border: 1px solid #938a8a;
  border-radius: 17px;
  font-size: 12px;
  width: 35px;
  height: 40px;
}
.related-prod-block .owl-theme .owl-nav [class*=owl-]:hover {
  border-radius: 50%;
}
.sub_image_list button:focus {
  outline: 0px !important;
}
.sub_image_list .owl-carousel .owl-nav button.owl-next,
.sub_image_list .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
  background: #ffffff !important;
  border: 1px solid #e5e5e5 !important;
  height: 30px;
  border-radius: 48px !important;
}
.sub_image_list .owl-carousel .owl-nav button.owl-next span,
.sub_image_list .owl-carousel .owl-nav button.owl-prev span {
  display: none;
}
.sub_image_list .owl-prev {
  left: -11%;
}
.sub_image_list .owl-next {
  right: -10%;
}
.sub_image_list .owl-next:before {
  background: none;
  content: "";
  font-family: fontawesome;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #222;
  content: "";
  padding: 11px;
}
.sub_image_list .owl-prev:before {
  background: none;
  content: "";
  font-family: fontawesome;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #222;
  padding: 10px;
}
.promotional_block button:focus {
  outline: 0px !important;
}
.promotional_block .owl-carousel .owl-nav button.owl-next,
.promotional_block .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 45%;
  right: -10px;
  margin: -15px 0 0;
  border-radius: 50%;
  background: #a0b31b;
  border: 1px solid #e5e5e5;
  opacity: 1;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 20px;
  z-index: 9;
  cursor: pointer;
}
.promotional_block .owl-prev {
  left: -2%;
}
.promotional_block .owl-prev .fa-chevron-left {
  padding: 14px 5px;
  border: 1px solid #938a8a;
  border-radius: 17px;
  font-size: 12px;
  width: 35px;
  height: 40px;
}
.promotional_block .owl-next {
  right: -4%;
}
.promotional_block .owl-next .fa-chevron-right {
  padding: 14px 5px;
  border: 1px solid #938a8a;
  border-radius: 17px;
  font-size: 12px;
  width: 35px;
  height: 40px;
}
.promotional_block .owl-theme .owl-nav [class*=owl-]:hover {
  border-radius: 50%;
}
.ngx-pagination .current {
  border-radius: 30px;
  width: 30px;
}
.gradientBack {
  background-image: linear-gradient(315deg, #c2db61 0%, #85a30d 60%);
}
.app-button {
  background-image: linear-gradient(315deg, #c2db61 0%, #85a30d 60%);
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  padding: 8px;
  border-radius: 3px;
  margin: auto;
  box-shadow: 0px 0px 11px -8px rgba(0, 0, 0, 0.75);
}
.app-button:hover {
  background-image: linear-gradient(315deg, #aac050 0%, #748f09 60%);
}
#success-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#success-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#success-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#error-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#error-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
html {
  scroll-behavior: smooth;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.pad0 {
  padding: 0px;
}
.mrg0 {
  margin: 0px;
}
.p-back {
  background-color: #f4f4f4;
  padding-bottom: 25px;
}
.themhover:hover {
  cursor: pointer;
  background-color: #c04f1f;
}
.validation-brd {
  border-left: solid 3px red;
}
.cursorPointer {
  cursor: pointer;
}
.open-heart {
  font-size: 25px;
  position: absolute;
  top: 7px;
  right: 11px;
}
.fill-heart {
  color: red;
}
.tag-line {
  background: white;
  z-index: 1;
  color: black;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 2px;
  color: greend;
  color: green;
  font-size: 15px;
}
.tag-line b {
  color: #fa7202;
}
.tag-line marquee {
  position: absolute;
  background: white;
}
.mobile_view_static_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #8b8b8b;
}
.instock {
  color: #0c910c;
}
.outstock {
  color: #910c0c;
}
/*****************************PRODUCT CART*******************************/
.discover-prod {
  margin-bottom: 2.5rem;
}
.discover-prod .col-lg-2 {
  flex: 0 0 18.666667%;
  max-width: 17.666667%;
}
.discover-prod .form-group {
  margin-top: 1rem;
}
.component-product-tile {
  transition: 0.3s ease-in-out;
}
.component-product-tile .product-div {
  cursor: pointer;
  background: #fff;
  text-align: center;
  border: 1px solid transparent;
  padding-bottom: 15px;
  position: relative;
  transition: 0.4s;
  min-height: 285px;
  border-radius: 4px;
  border: solid 1px rgba(112, 112, 112, 0.38);
}
.component-product-tile .product-div:hover {
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.18);
}
.component-product-tile .product-div:hover .component-product-tile .product-img {
  transform: scale(1.08);
}
.component-product-tile .gradient-bg-img {
  position: relative;
  margin-top: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 134px;
  margin-top: 20px;
}
.component-product-tile .product-img {
  max-height: 100%;
  max-width: 100%;
  margin-top: 2px;
  margin-bottom: -15px;
  left: 0;
  right: 0;
  width: auto;
  transition: 0.5s;
}
.component-product-tile .product-title {
  height: 50px;
  margin: 12px 12px 10px;
  font-family: Celiasmedium;
  overflow: hidden;
  text-align: left;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #4c4c4c;
  margin-top: 20px;
  font-size: 13px;
}
.component-product-tile .prices-span {
  font-size: 16px;
  letter-spacing: normal;
  text-align: left;
  margin: 0 5px 0 12px;
  overflow: hidden;
  height: 25px;
  margin-bottom: 13px;
}
.component-product-tile .price {
  font-style: normal;
  color: #000;
  opacity: 0.35;
  font-size: 11px;
  margin-left: 5px;
}
.component-product-tile .add-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 50;
  flex: 1;
}
.component-product-tile .math-icon.add-text-counter {
  font-size: 15px;
  height: 32px !important;
  border-radius: 4px;
}
.component-product-tile .math-icon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
  height: 36px;
  align-items: center;
  font-size: 18px;
  border-radius: 8px;
  background-color: #00c3dd;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  padding: 5px 10px;
}
.component-product-tile span.math-icon.add-text-counter.cursor-pointer {
  padding: 5px 10px;
  border-radius: 20px;
  height: unset !important;
  width: 97px !important;
}
.component-product-tile .view-more-block {
  background: #28bded;
  border-radius: 3px;
  border-bottom-left-radius: 31px;
  border-top-left-radius: 31px;
  padding: 49px 21px 31px 27px;
  color: #fff;
}
.component-product-tile .deal-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
}
.component-product-tile .deal-banner h3[_ngcontent-c32] {
  color: #fff;
  font-size: 28px;
  letter-spacing: -0.5px;
}
.component-product-tile .deal-banner p[_ngcontent-c32] {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 21px;
  margin: 0;
  color: #fff;
}
.component-product-tile .view-all-btn {
  font-size: 14px;
  background: #fff;
  border-radius: 42px;
  padding: 11px 20px;
  border: 0;
  margin-top: 15px;
}
.component-product-tile .minus {
  border: 1.5px solid var(--themecolor);
  font-size: 21px;
  width: 33px;
  height: 33px;
  background-color: #44c8f5;
  color: var(--themecolor);
  transition: 0.2s ease-in-out;
  margin: 0 6px;
  border-radius: 24px;
  background: #fff;
}
.component-product-tile .math-icount {
  background: white;
  border: 0;
  padding-top: 4px;
  color: #303a51;
  font-size: 17px;
  font-family: Celiasmedium;
}
.component-product-tile .prod_weight {
  padding: 0 11px;
  font-size: 13px;
  margin-bottom: 13px;
}
.component-product-tile .prod_weight select {
  width: 100%;
  padding: 4px 10px;
  border-color: #a5a2a2;
}
.component-product-tile .prod_weight select:focus {
  outline: 0px;
}
.component-product-tile .add_cart_button {
  display: inline-flex;
  background: var(--themecolor);
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  padding: 0.375rem 0.75rem 0.275rem;
}
.component-product-tile .add_cart_button .add_cart_text {
  border-right: 1px solid #fff;
  margin-right: 14px;
  width: 147px;
  font-family: Celiasmedium;
}
.component-product-tile .add_cart_button .add_cart_icon {
  font-size: 16px;
}
.component-product-tile .stock_container {
  text-align: left;
  margin-top: -13px;
  margin-left: 12px;
  font-size: 13px;
  margin-bottom: 7px;
}
.component-product-tile .brand_name {
  color: #b7b7b7;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 2px;
}
.prod-img {
  position: relative;
}
.offerCard {
  background: #3b9644;
  position: absolute;
  width: 87px;
  font-size: 13px;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  top: -14px;
}
@media (max-width: 1300px) {
  .component-product-tile .add_cart_button .add_cart_text {
    width: 120px;
  }
}
@media (max-width: 1190px) {
  .component-product-tile .add_cart_button {
    font-size: 12px;
  }
  .component-product-tile .add_cart_button .add_cart_text {
    width: 90px;
  }
}
@media (max-width: 768px) {
  .offerCard {
    top: -17px;
    font-size: 12px;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .mobilePad0 {
    padding: 0;
  }

  .discover-prod .form-group {
    margin-top: 6px;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .component-product-tile .product-title {
    margin: 0px 12px 0px;
  }
  .component-product-tile .product-div {
    width: 97%;
  }
  .component-product-tile .add_cart_button {
    font-size: 11px;
  }
  .component-product-tile .add_cart_button .add_cart_text {
    width: 80px;
  }
  .component-product-tile .add_cart_button .add_cart_icon {
    font-size: 13px;
  }
  .component-product-tile .product-img {
    max-width: 100%;
    padding: 0px 11px;
    max-height: 100%;
  }
  .component-product-tile .gradient-bg-img {
    height: 95px;
  }

  .stock_container {
    font-size: 11px;
  }
}
/************BUTTTON***********************/
.theam_button {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--themecolor);
  border-color: var(--themecolor);
  padding: 10px 20px;
  border-radius: 50px;
}
